.container {
  height: 100%;
  overflow: scroll;
  background: var(--gray);
  position: relative;
}

.toolbar {
  position: absolute;
  left: 0;
  right: 0;
  display: flex;
  pointer-events: none;
  margin: 5px;
}

.toolbar > div {
  margin: 5px;
}

.homebutton {
  width: 56px;
  height: 56px;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 5px #000;
  pointer-events: all;
  margin: 5px;
}

.homebutton:hover {
  background: #ddd;
}

.minimap {
  position: absolute;
  margin: 8px;
  bottom: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.minimap > button {
  position: absolute;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  bottom: 0;
  border: 0;
  box-shadow: 0 0 5px #000;
  background: var(--gray);
  border-radius: 50%;
  background: #fff;
}

.minimap > button:hover {
  background: #ddd;
}

.minimap > canvas {
  display: block;
  border: 2px solid #000;
  background: var(--white);
  z-index: 1;
}

.container > canvas {
  background: var(--white);
  display: block;
}
