.container {
  height: 100%;
  overflow: scroll;
  background: #efefef;
}

.toolbar {
  position: absolute;
  display: flex;
  pointer-events: none;
  margin: 5px;
}

.toolbar > div {
  margin: 5px;
}

.container > canvas {
  background: var(--white);
  display: block;
}
