.container {
  min-height: 100%;
  color: var(--white);
}

.overview {
  background: var(--main1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  margin-right: 16px;
}

.overview h1 {
  margin: 0 0 16px 0;
}

.overview button {
  color: var(--white);
  border-color: var(--white);
}

.about {
  background: var(--main0);
  overflow: auto;
  padding: 20px;
}

.images {
  display: flex;
  justify-content: space-around;
}
