.container {
  min-height: 100%;
  color: var(--white);
}

.overview {
  background: var(--main1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.title {
  margin-right: 16px;
}

.overview h1 {
  margin: 0 0 16px 0;
}

.overview button {
  color: var(--white);
  border-color: var(--white);
}

.demo {
  background: var(--main0);
  overflow: auto;
  padding: 20px;
  text-align: center;
}

.demo > p {
  margin: 0 0 20px 0;
  font-size: 24px;
}

.about {
  background: var(--main1);
  overflow: auto;
  padding: 10px;
}

.images {
  display: flex;
  justify-content: space-around;
}

.images > div {
  margin: 10px;
}

.footer {
  background: var(--main0);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer a:hover {
  text-decoration: underline;
}
