.container {
  min-height: 100%;
  color: var(--white);
}

.overview {
  background: var(--main1);
  display: flex;
  padding: 20px;
}

.overview > div {
  width: 100%;
}

.overview h1 {
  margin: 0 0 16px 0;
}

.overview button {
  color: var(--white);
  border-color: var(--white);
}

.about {
  background: var(--main0);
  overflow: auto;
  padding: 20px;
}
