.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
}

.logo {
  margin: 0 10px;
}

.container > a {
  color: var(--blue);
  margin-right: 20px;
}

.container > a:hover {
  color: var(--purple);
}

.container > button {
  margin-right: 10px;
}
