.container {
  height: 80px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  background: var(--white);
  color: var(--black);
  box-shadow: 0 0 10px var(--black);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  margin: 0 10px;
}

.container > a {
  color: var(--darkgray);
  margin-right: 20px;
  transition: 0.25s;
}

.container > a:hover {
  color: var(--blue);
}

.container > button {
  margin-right: 10px;
}
