.container {
  width: 200px;
  margin: 10px;
  cursor: pointer;
  position: relative;
}

.container:hover > div {
  background: var(--lightgray);
  color: var(--blue);
}

.container p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editbutton {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border: 0;
  background: transparent;
}

.editbutton:hover {
  color: var(--blue);
}

.container:hover .editbutton {
  opacity: 1;
}

.modal {
  text-align: center;
}

.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.tabs > button {
  margin: 0 5px;
}

.tabs > button.selected {
  background: #ccc;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user > button {
  margin-left: 5px;
}
