.container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  background: var(--gray);
}

.createcard {
  width: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.createcard:hover {
  background: #fafafa;
}

.createcard svg {
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
