.container {
  position: absolute;
  background: var(--gray);
  border-radius: 10px;
  z-index: 1;
}

.container > textarea {
  resize: none;
  height: 160px;
  width: 160px;
  cursor: move!important;
  display: block;
  border: 2px solid var(--black);
  border-radius: 5px;
}

.container > button {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  background: transparent;
  border: 0;
  padding: 0;
  opacity: 0;
}

.container > button:hover {
  color: var(--blue);
}

.container:hover > button {
  opacity: 1;
}
