.container {
  position: absolute;
  background: var(--gray);
  border-radius: 10px;
  z-index: 1;
}

.container > textarea {
  resize: none;
  height: 160px;
  width: 160px;
  cursor: move!important;
  display: block;
  border: 0;
  box-shadow: 0 0 5px #000;
}

.container > button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: -16px;
  top: -16px;
  width: 32px;
  height: 32px;
  background: #efefef;
  border-radius: 50%;
  box-shadow: 0 0 5px #000;
  border: 0;
  padding: 0;
  opacity: 0;
}

.container > button:hover {
  background: #ddd;
  color: var(--blue);
}

.container:hover > button {
  opacity: 1;
}
