.container {
  position: absolute;
  background: #efefef;
  border-radius: 10px;
}

.container > textarea {
  resize: none;
  height: 160px;
  width: 160px;
  cursor: move!important;
  display: block;
  border: 2px solid var(--black);
  border-radius: 5px;
  background: var(--gray);
}

.container > button {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  background: transparent;
  border: 0;
  padding: 0;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container > button:hover {
  color: #333;
}
