* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--blue);
}

.link:hover {
  color: var(--purple);
  text-decoration: underline;
}

button {
  cursor: pointer;
}

:root {
  --lightgray: #fafafa;
  --gray: #eaeef3;
  --blue: #2196f3;
  --purple: #3f51b5;
  --black: #212121;
  --white: #ffffff;
}
