* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

#__next {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  color: var(--blue);
}

.link:hover {
  color: var(--purple);
  text-decoration: underline;
}

button {
  cursor: pointer;
}

.outlinebtn {
  padding: 10px 20px;
  background: transparent;
  color: #666;
  border: 2px solid #666;
  border-radius: 5px;
  transition: 0.25s;
}

.outlinebtn:hover {
  color: var(--blue);
  border-color: var(--blue);
}

.flexfill {
  flex-grow: 1;
}

.input-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-button > input {
  margin: 5px;
}

.grayinput {
  border: 2px solid #bbb;
  border-radius: 5px;
  padding: 5px;
}

.iconbutton {
  padding: 0;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 3px #000;
  border: 0;
  border-radius: 5px;
}

.iconbutton:hover {
  background: #ddd;
}

:root {
  --lightgray: #fafafa;
  --gray: #eaeef3;
  --blue: #2196f3;
  --purple: #3f51b5;
  --black: #212121;
  --white: #ffffff;

  --main0: #242582;
  --main1: #2f2fa2;
  --main2: #553d67;
  --main3: #99738e;
  --main4: #f64c72;
}
